.form {
    width: 35rem;
  }
  .form-container {
    border: 1px solid var(--secondary-color);
  }
  
  .input-width {
    width: 30rem;
  }
  
  .outer-wrapper {
    flex-direction: column;
    gap: var(--sm-size);
    padding: var(--sm-size);
  }

  .screen {
    flex-wrap: wrap;
    gap: var(--sm-size);
    margin: 10rem 0 5.2rem 0;
  }