.quiz-container {
  height: 100%;
}
.category-container {
  width: 100%;
  flex-wrap: wrap;
  padding: var(--md-size);
  background-color: var(--primary-color);
  color: var(--accent-1);
  gap: 2rem;
}
.box {
  margin-bottom: 2rem;
  min-height: 100vh;
}
.category-heading {
  margin-top: 25rem;
}
.filter-wrapper {
  flex-wrap: wrap;
  width: 55%;
  border: 1px solid var(--accent-orange);
  border-radius: 2rem;
}
.quiz-box {
  margin-top: -15rem;
}
