.quiz-container{
    height: calc(100vh - 20rem);
}
.category-container{
    width:100%;
    flex-wrap:wrap;
    padding: var(--md-size);
    background-color: var(--primary-color);
    color: var(--accent-1);
    gap:2rem;
}   
.box{
    height: 100vh;
    margin-bottom: 56rem;
}
.category-heading{
    margin-top:10rem;
}
.filter-wrapper{
    flex-wrap: wrap;
    width:55%;
    border: 1px solid var(--accent-orange);
}